body {
	background-color: $purple;
	font-family: 'PT Sans Narrow', sans-serif;
	color: $white;
	font-size: 16px;
}
h2 {
	font-family: 'Pacifico', cursive;
	font-size: 2em;
}
.container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
li {
	list-style-type: none;
	padding: 10px;
	background-color: $white;
	border: 1px solid rgba($black, .5);
	margin-bottom: 4px;
	display: flex;
	justify-content: space-between;
}
.container-list {
	background-color: rgba($black, .2);
	padding: 30px;
	max-width: 250px;
	min-height: 350px;
}
.header-list {
	display: flex;
	justify-content: center;
}
.body-list {
	display: flex;
	justify-content: center;
}
ul {
	padding-left: 0;
	color: $black;
	width: 100%;
}
i.delete {
	color: $red;
}
.footer-list {
	display: flex;
	margin-bottom: 20px;
	width: 100%;
}
input {
	padding: 10px;
	border: none;
}
button {
	border: none;
	background-color: $green;
	color: $white;
	cursor: pointer;
}
p {
	margin: 5px;
}
.message {
	margin-bottom: 20px;
}